.icons{
    opacity: 0;
    transform: translateX(100px);
    animation: slideIn 1s ease-in forwards;
}
@keyframes slideIn{
    from{
        transform: translateX(-100px);
        opacity: 0;
    }
    to{
        transform: translateX(0px);
        opacity: 1;
    }
}
.head{
    opacity: 0;
    transform: translateX(100px);
    animation: slideUp 1s ease-in forwards;
}
@keyframes slideUp{
    from{
        transform: translateY(-40px);
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}